* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /*justify-content: center; */
    align-items: center;
}

.generate-button {
    padding: 10px 30px;
    margin: 10px;
}

.container {
   flex-basis: 960px;
   width: 960px;
   flex-shrink: 0;
   display: flex;
   flex-wrap: wrap;
}

.grid-element {
    border: 1px black solid;
}